*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.play{
    background: url(/play_button_icon_129542.png);
    width: 256px;
  height: 256px;
 
};
.pause{
    background-image: url(/PauseNormalRed_26934.png);
    width: 256px;
    height: 256px;
};
.video{
    width: 100px;
    height: 100px;

}